@model IEnumerable<AnInterestingBankName.Models.Logs>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <th>

                </th>
            </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.SaticiKodu
                </td>
                <td>
                    @item.KartNo
                </td>
                <td>
                    @item.Bakiye
                </td>
                <td>
                    @item.Tarih
                </td>
            </tr>
        }
        </table>
    </div>
</body>
</html>
